body{
    margin: 0;
    background-image: linear-gradient(rgb(255, 255, 255),rgba(22, 123, 136, 0.774), rgb(13, 102, 124), rgb(13, 100, 116));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-image: url("banner.jpg");
    background-size: 1850px;
    background-repeat: no-repeat;
    width: 115.7em;
    height: 17.7em;
    margin: 0;
    border: 9px double rgba(8, 68, 77, 0.776);
    position: fixed;
    margin-left: 34px;
    }