@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.conteudo{
    margin-left: 40%;
    border: 2px dashed white;
    width: 300px;
    margin-top: 20em;
}
.container{
    display: none;
}
.show{
    display: flex;
    
}
.conteudo h1{
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255),rgba(22, 123, 136, 0.774), rgb(13, 102, 124), rgb(13, 100, 116));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem; /* espacamento interno */
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
}

.alerta {
    background: #ca281d;
    padding: 5px;
    border-radius: 5px;
}

/* CLASS PARA FORMATAR COM JS */
.aprovado {
    background: #59c715;
}

.reprovado {
    background: #d4291d;
}

.recuperacao {
    background: #e6ad04;
}

/* FORMULARIO */
form {
    margin: 1rem;
}

/* DIV DOS INPUTS */
.form-group {
    margin: 0.625rem;
}

/* INPUTS */
input[type=number], input[type=text] {
    padding: 5px;
    text-align: center;
}

.cx, input[type=text] {
    border: 1px solid #ececec;
    border-radius: 5px;
}

/* BOTOES */
.form-group button {
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 3px #222;
}

#btnCalcular {
    background: #341568;
}

#btnLimpar {
    background: #92084d;
}
header{
background-image: url("banner.jpg");
background-size: 1850px;
background-repeat: no-repeat;
width: 115.7em;
height: 17.7em;
margin: 0;
border: 9px double rgba(8, 68, 77, 0.776);
position: fixed;
margin-left: 13px;
}

a{
    color:#fff;
    font-size: 30px;
    font-family: "Fira Code",Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 60px;
    position: relative;

}
.a4{
    color:#fff;
    font-size: 30px;
    font-family: "Fira Code",Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
    background-color: #222;
    padding: 7px;
    border-radius: 20px;
    border: none;
}
.sk a{
    background-color: #222;
    padding: 7px;
    border-radius: 20px;
}
.sk a:hover{
    border: 2px solid white;
}
.sk .a4:hover{
    border: 2px solid white;
}
.sk{
    margin-top: 13em;
    
}
.a3{
    margin: auto auto auto -1000px;
}
.a1{
    margin: auto auto auto -1000px;
}

.aa1{
    transition: 1s;
    margin: auto 3em auto 30em;
}

.aa3{
    transition: 1s;
    margin: auto 3em auto 3em;
}

.hidden{
    display: none;
}
